.todoForm{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 50px auto;
    border-radius: 20px;
    font-family: "Oswald", sans-serif;

}

.todoForm input{
    height: 6vh;
    width: 60%;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    font-size: 1.5em;
    text-align: center;
}

.todoForm input:focus{
    outline: none;
}

.todoForm button{
    height: 6vh;
    width: 20%;
    font-size: 1.25em;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.6);
    background-color: rgba(25, 116, 25, 0.4);
    color: white;
    cursor: pointer;

}