.deneme{
    display: flex;
    background-color: rgb(25, 116, 25);
    color:white;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-family: "Oswald", sans-serif;
    font-size: 4em;
    box-shadow: 0px 10px 5px rgba(0,0,0,0.5);
}